
$body-bkg: #feffff;
$body-text: #000000;
$nav-bkg: #216670;
$sidebar-bkg: #216670;
$link: #8899b7;
$news-bkg: #75cdda;
$cat-bkg: #5dbcd2;
$chall-bkg: #90d080;
$solved-bkg: #5fc2a2;
$tag-border: #42a5f5;
$tag-bkg: #1e88e5;
$panel-heading-bkg:#27326d;
$panel-body-bkg: #90d080;
$chall-text: #ffffff;
$sidebar-text: #ffffff;
$sidebar-active-text: #ffffff;
$chall-link: #00a651;
$chall-link-hover: #00a651;

body {
  background-color: $body-bkg;
  color: $body-text;
}
.navbar-default {
  background-color: $nav-bkg;
}
.left-sidebar-background {
  background-color: $sidebar-bkg;
}

a {
    &.list-group-item, &.nav-link {
      background-color: $nav-bkg;
      color: $sidebar-text;
    }

    &.list-group-item.active,
    &.list-group-item.active:hover,
    &.list-group-item.active:focus {
      background-color: $link;
      border-color: $link;
      color: $sidebar-active-text;
    }
}

#news-box {
    background-color: $news-bkg;
}

input.form-control[readonly] {
    background-color: #fff;
}

#loading-overlay {
    background-color: #000;
}

#scoreboard>tbody>tr:nth-child(odd)>td{
  background-color: $panel-body-bkg;
}

/* Challenge submission */
.panel-primary>.panel-heading{
  background-color: $panel-heading-bkg;
}

.chall-submit[disabled], .chall-submit{
  background-color: $panel-heading-bkg;
}

.chall-well, .chall-panel, .chall-panel-body{
  background-color: $panel-body-bkg;
}

.chall-panel-body {
    a {
        color: $chall-link;
    }
    a:hover, a:focus, a:active {
        color: $chall-link-hover;
    }
}

/* Jeopardy grid */
.jeopardy-cat {
  background: $cat-bkg;
}

.jeopardy-chall {
    & .front,
    & .back {
      background: $chall-bkg;
      color: $chall-text;
    }
    & .front{
      $dummy: '.chall-dummy:first-child:last-child';
      .chall-tag, #{$dummy} {
        border: 2px solid $tag-border;
        background-color: $tag-bkg;
      }
    }

    &.solved .card {
      background: $solved-bkg;
    }
}
